html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
    margin: 20px 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* Container Styles */
.container1,.container2,.container3,.container4,.container5 {
    width: 100%;
    height: 100vh;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.container,.button-group,.namelogo{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bg-wrapper {
    background-image: url("images/bg_graphic_design.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    
    display: flex;
    flex-direction: column;
    height: 200vh
}

 

.container3 {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: black;
    color: white;
    box-shadow: 0 2px 5px white;
}

/*.intro-text {
    font-size: 20px;
    margin: 50px 30px;
    width: 600px;
    padding: 50px;
    font-family: monospace;
    border: #ffffff 2px solid;
}*/

.namelogo{
    display: block;
    margin-left: 40px;
    margin-right: auto;
    width: 135px;
    height: 80px;
    
}



.button-group{
    position: relative;
    bottom: 60px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    width: 70%;
    margin-left: 160px;
}
.btn {
    margin: 0 20px; /* Space between buttons */
    border: none;
    font-family:monospace;
    font-size: 17px;
}

.wrapper {
    height: 60vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0b0b0b 0%,
    #424242 29%,
    #929292 67%,
    #e1e1e1 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 90px;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-right: 800px;
      padding-top: 0px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}